@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900";
body, html {
  height: 100%; }

.btn-primary {
  background: #EF1347;
  border: none;
  transition: 1s; }
  .btn-primary:hover {
    background: #c20d38; }

.btn-secundary, .btn-facebook {
  background: #279599;
  border: none;
  transition: 1s; }
  .btn-secundary:hover, .btn-facebook:hover {
    background: #1d6d70; }

.btn-border {
  color: #777;
  border: 1px solid #777;
  padding: 5px 15px !important;
  margin: 10px !important;
  border-radius: 4px; }

.btn-facebook {
  background: #3B5998;
  color: white;
  padding-bottom: 12px; }
  .btn-facebook span {
    font-size: 20px;
    padding-right: 15px;
    margin-right: 10px;
    border-right: 1px solid white;
    display: inline-block;
    padding-left: 10px; }
  .btn-facebook:hover {
    background: #1e2e4f;
    color: white; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #EF1347;
  text-decoration: none;
  background: none; }

.nav > li > a:focus, .nav > li > a:hover {
  background: none; }

.magenta-orange, #alta-licitacion header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef1347+0,f46a3c+100 */
  background: #ef1347;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ef1347 0%, #f46a3c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ef1347 0%, #f46a3c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ef1347 0%, #f46a3c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1347', endColorstr='#f46a3c',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

body {
  font-family: Roboto, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "MuseoSans700", sans-serif; }

a {
  font-family: "MuseoSans500"; }

.licitacion-tile {
  padding: 15px; }
  .licitacion-tile .lic {
    border: 1px solid #ddd;
    padding: 10px; }
  .licitacion-tile .img {
    padding-right: 0; }
  .licitacion-tile h4 {
    margin: 0 0 10px 0; }
  .licitacion-tile hr {
    margin: 0 0 10px 0; }
  .licitacion-tile .licitar {
    display: flex;
    align-items: center; }
  .licitacion-tile p {
    font-size: 12.5px; }

.oferta-tile p {
  font-size: 12.5px; }

nav {
  margin-bottom: 0px !important;
  border-radius: 0 !important; }
  nav a {
    color: #EF1347; }
    nav a:hover {
      color: #c20d38; }
  nav .navbar-brand {
    padding: 5px;
    padding-left: 15px; }
    nav .navbar-brand img {
      max-width: 130px; }
  nav .navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px; }
  nav li a {
    display: inline-block !important; }
    nav li a.user {
      padding-top: 10px;
      padding-bottom: 10px; }
  nav .input {
    background: #eee;
    display: inline-block;
    border-radius: 4px; }
    nav .input input, nav .input select {
      border: none;
      box-shadow: none;
      background: none; }
    nav .input button {
      border-radius: 0 5px 5px 0;
      height: 34px; }
    nav .input input {
      width: 300px !important; }
    @media (max-width: 768px) {
      nav .input {
        width: 100%; }
        nav .input button {
          border-radius: 0 0 5px 5px; } }
  nav .navbar-toggle {
    background: #EF1347; }
    nav .navbar-toggle span {
      background: white; }
  @media (max-width: 768px) {
    nav .navbar-right li {
      border-bottom: 1px solid #dedede; }
      nav .navbar-right li:last-child {
        border: none; }
      nav .navbar-right li a {
        display: block !important; }
        nav .navbar-right li a span {
          margin-right: 10px; } }

footer {
  padding: 40px 0;
  background: #323232; }
  footer img {
    max-width: 150px;
    margin-bottom: 30px; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul li a {
      color: white; }
  footer h4 {
    color: white; }
  footer .store {
    max-width: 90px;
    margin-right: 10px; }
  footer .redes li {
    list-style: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #888;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    margin-right: 10px; }

.transition, nav a, footer a {
  transition: 0.5s; }

#home header {
  background: url("../img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  background-position-y: -250px; }
  @media (max-width: 1050px) {
    #home header {
      background-position-y: 0; } }
  #home header h1, #home header h3 {
    max-width: 700px;
    color: white;
    margin: 40px 0;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7); }
  #home header .btn-primary {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 30px;
    font-family: "MuseoSans900"; }

section {
  padding: 40px 0; }
  section h2 {
    margin-bottom: 30px; }

#action-panel {
  background: #dfdfdf;
  padding: 15px 0; }
  @media screen and (max-width: 768px) {
    #action-panel a.btn1 {
      margin-bottom: 20px; } }

#ad-container {
  background: #dfdfdf;
  padding: 15px 0; }
  @media screen and (max-width: 992px) {
    #ad-container a.ad1 {
      margin-bottom: 10px;
      display: inline-block; } }
  #ad-container a img {
    display: inline-block; }

#ofertas {
  background: #2067B9; }
  #ofertas h2 {
    color: white; }

#categorias ul {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
  list-style: none;
  padding: 0; }
  @media screen and (max-width: 768px) {
    #categorias ul {
      column-count: 2; } }
  @media screen and (max-width: 480px) {
    #categorias ul {
      column-count: 1; } }
  #categorias ul li {
    border-bottom: 1px solid #DFDFDF;
    padding: 5px 0; }
    #categorias ul li a {
      color: #EF1347; }

footer a {
  text-decoration: none; }
  footer a:hover {
    color: #EF1347;
    text-decoration: none; }

.carousel-control {
  width: 100px;
  color: #EF1347;
  opacity: 1; }
  .carousel-control.left, .carousel-control.right {
    background-image: none; }
  @media (max-width: 1024px) {
    .carousel-control {
      width: 25px; } }

#login {
  background: url("../img/back-login.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #login .formulario {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-top: 30px;
    box-shadow: 1px 1px 2px rgba(33, 33, 33, 0.3);
    margin-top: 150px; }
    #login .formulario img {
      max-width: 140px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%); }

nav .user {
  padding-top: 7px;
  padding-bottom: 0; }
nav .notificaciones {
  border-radius: 5px;
  margin-top: 15px !important;
  padding: 15px;
  border: none; }
  nav .notificaciones:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(45deg);
    background: white;
    left: 50%;
    top: -7px;
    margin-left: -7px; }
    @media (max-width: 768px) {
      nav .notificaciones:before {
        display: none; } }

#alta-licitacion .alta {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px; }
#alta-licitacion header h1 {
  color: white; }
#alta-licitacion .seleccion {
  margin: 10px 0 30px 0px; }
  #alta-licitacion .seleccion .label-default {
    font-size: 13px;
    font-weight: 200; }
    #alta-licitacion .seleccion .label-default .glyphicon {
      top: 2px; }
#alta-licitacion #cat2, #alta-licitacion #cat3 {
  display: none; }
#alta-licitacion .categorias select {
  margin: 20px 0; }
#alta-licitacion .perfil .well {
  padding: 0 10px;
  min-height: 90px;
  display: flex;
  align-items: center; }
  #alta-licitacion .perfil .well.text-center {
    justify-content: center; }
  #alta-licitacion .perfil .well h5, #alta-licitacion .perfil .well p, #alta-licitacion .perfil .well small {
    margin: 0; }
  #alta-licitacion .perfil .well input[type=checkbox] {
    margin: 1px 0 0 -20px; }
#alta-licitacion .img input[type=file] {
  display: inline-block; }
#alta-licitacion .img .o:after, #alta-licitacion .img .o:before {
  content: "";
  height: 1px;
  width: 10%;
  display: inline-block;
  background: #a6a6a6;
  top: -4px;
  position: relative;
  margin: 0 10px; }
#alta-licitacion .imagenes .img {
  margin-bottom: 30px; }
  #alta-licitacion .imagenes .img .settings {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    padding-top: 60px;
    text-align: center;
    box-sizing: border-box;
    left: 0px;
    opacity: 0;
    transition: 1s; }
    #alta-licitacion .imagenes .img .settings a {
      margin-bottom: 10px;
      display: inline-block; }
  #alta-licitacion .imagenes .img:hover .settings {
    opacity: 1; }
#alta-licitacion #parte2 {
  overflow: auto; }
#alta-licitacion .negociable {
  margin-top: 30px; }
#alta-licitacion .formas-pago .checkbox {
  display: inline-block;
  margin: 10px; }

#alta-licitacion .obligatorio {
  color: #EF1347; }
#alta-licitacion #perfil {
  display: inline-block;
  width: 200px;
  margin-left: 10px; }
  @media (max-width: 368px) {
    #alta-licitacion #perfil {
      width: 100%;
      margin-left: 0; } }
#alta-licitacion #perfil-empresa {
  margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
