$text-font: Roboto, sans-serif;
$title-font: "MuseoSans700", sans-serif;
$text-color: #333;

$color1:#EF1347;
$color2:#673AB7;;
$color3:#4d76ac;

$color1dark: darken($color1, 10%);




$facebook: #3B5998;